<header class="small-12 home-img">

</header>
<section class="small-12 columns">
  <h1>Welcome!</h1>
  <p>Find me in app/views/welcome/index.html.erb</p>
</section>

<section class="small-12 columns info-app">
    <div class="medium-4 columns">
      add list
    </div>
    <div class="medium-4 columns">
      track your data
    </div>
    <div class="medium-4 columns">
      view grafics
    </div>
</section>


<footer class="small-12 columns">
</footer>
